{% extends 'base.html.twig' %}

{% block title %}Liste des villes{% endblock %}

{% block body %}
    <h1>Liste des villes</h1>

    <a href="{{ path('villes_ajouter') }}">Ajouter une ville</a>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Code postal</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for ville in villes %}
            <tr>
                <td>{{ ville.id }}</td>
                <td>{{ ville.nomVille }}</td>
                <td>{{ ville.codePostal }}</td>
                <td><a href="{{ path('villes_modifier', {id: ville.id}) }}">✏️</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune ville enregistrée.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
