{% extends 'base.html.twig' %}

{% block title %}Modifier la ville : {{ ville.nomVille }}{% endblock %}

{% block body %}

        <h1 class="mb-4 text-center">Modifier la ville</h1>




            {{ form_start(form) }}
            <div class="mb-3">
                {{ form_label(form.nomVille, 'Nom de la ville', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.nomVille, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.nomVille) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.codePostal, 'Code postal', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.codePostal, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.codePostal) }}
            </div>

            <div class="d-flex justify-content-between mt-4">
                <a href="{{ path('villes_liste') }}">Retour à la liste</a>
                <button type="submit" >Enregistrer</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
